In [1]:
import os

In [2]:
print(os.getcwd())

D:\kdigital2307\python\jupyter

In [10]:
try :
    f = open('./data/ftest.txt', mode='r', encoding='utf-8')
    print(f.read(), type(f.read()))

    f2 = open('./data/ftest2.txt', mode='w')
    s = 'my first python~~\n'
    f2.write(s)

    f3 = open('./data/ftest2.txt', mode='a')
    s = 'my first python~~222222222'
    f3.write(s)
except Exception as e :
    print(e)
finally :
    f.close()
    f2.close()
    f3.close()

programming is fun
very fun!
have a good time
mouse is input device
keyboard is input device
computer is input output system <class 'str'>

In [19]:
try :
    f = open('./data/ftest.txt', mode='r')
    lines = f.readlines()
    doc = []
    for line in lines :
        doc.append(line.strip()) # 공백/제어문자 제거
    print(doc)
    words = []
    items = []
    for word in doc :
        words.append(word.split())
        for item in word.split() :
            items.append(item)
    print(words)
    print(items)
except Exception as e :
    print(e)
finally :
    f.close()

['programming is fun', 'very fun!', 'have a good time', 'mouse is input device', 'keyboard is input device', 'computer is input output system']
[['programming', 'is', 'fun'], ['very', 'fun!'], ['have', 'a', 'good', 'time'], ['mouse', 'is', 'input', 'device'], ['keyboard', 'is', 'input', 'device'], ['computer', 'is', 'input', 'output', 'system']]
['programming', 'is', 'fun', 'very', 'fun!', 'have', 'a', 'good', 'time', 'mouse', 'is', 'input', 'device', 'keyboard', 'is', 'input', 'device', 'computer', 'is', 'input', 'output', 'system']

In [22]:
txt_data = './data/txt_data/'
sub_dir = os.listdir(txt_data)
sub_dir

['first', 'second']

In [31]:
import glob

glob.glob('./data/txt_data/first/txt*') # txt로 시작하는 파일 또는 폴더

['./data/txt_data/first\\txt01_data.txt',
 './data/txt_data/first\\txt02_data.txt',
 './data/txt_data/first\\txt03_data.txt',
 './data/txt_data/first\\txt04_data.txt',
 './data/txt_data/first\\txt05_data.txt',
 './data/txt_data/first\\txt06_data.txt',
 './data/txt_data/first\\txt07_data.txt',
 './data/txt_data/first\\txt08_data.txt',
 './data/txt_data/first\\txt09_data.txt',
 './data/txt_data/first\\txt10_data.txt']

In [48]:
def text_pro(sub_dir) :
    first_txt = []
    second_txt = []

    for sdir in sub_dir :
        dir_name = txt_data + sdir
        file_list = os.listdir(dir_name)
        for fname in file_list :
            file_path = dir_name + '/' + fname
            if os.path.isfile(file_path) :
                try :
                    f = open(file_path, 'r')
                    if sdir == 'first' :
                        first_txt.append(f.read())
                    else :
                        second_txt.append(f.read())
                except Exception as e :
                    print(e)
                finally :
                    f.close()
            else :
                print(f'{file_path}는 디렉토리 제외!!')

    return first_txt, second_txt

In [50]:
first_txt, second_txt = text_pro(sub_dir)

./data/txt_data/first/test01는 디렉토리 제외!!
./data/txt_data/first/test02는 디렉토리 제외!!
./data/txt_data/second/test03는 디렉토리 제외!!
./data/txt_data/second/test04는 디렉토리 제외!!

In [53]:
row_file = first_txt + second_txt
print(len(row_file))
print(row_file[-1])

20
it is obvious that columbus didn't take them very seriously .
when you think about it , this film is not really meditating on the question " when is a robot no longer a machine , but a human being ? " , but tells a story about racial discrimination and lack of understanding .
andrew is so complex and emotional from the very beginning that the audience immediately accepts him as a human being , and only the society has troubles with it .
in other words , it is as far from reality as from the academy awards .
further more , there are other annoying problems .
to this day no serious filmmaker has dared to speculate about the future in more than 50 years from now .
this has not been done for obvious reasons , because the filmmakers are well aware of the fact that they lack the knowledge and imagination to perform such a difficult task .
columbus is the first to have crossed that line .
the result is , as you might imagine , primitive , unrealistic and incredibly disappointing effort .
the world is simply frozen in time .
neither the society , fashion , culture or values have changed over 200 years .
mom is still working at the kitchen , doing the dishes .
when you think back to the late 17th century and then compare it to the world we live in today , you'll see a slightly bigger difference .
i am not saying that everything should change .
it is unlikely that the human rights will change , but it's even more unlikely that there will not be any progress in science , technology and fashion .
i suppose it's possible to watch this as a some sort of bizarre fairytale , but it's really hard .
robin williams is hidden behind c and speaking in a robotic way .
as always he does a decent job , as does sam neill .
but it doesn't really matter.

In [64]:
def text_pro2(sub_dir) :
    first_txt = []
    second_txt = []

    for sdir in sub_dir :
        dir_name = txt_data + sdir + '/txt*'
        file_list = glob.glob(dir_name)
        for file_path in file_list :
            if os.path.isfile(file_path) :
                try :
                    f = open(file_path, 'r')
                    if sdir == 'first' :
                        first_txt.append(f.read())
                    else :
                        second_txt.append(f.read())
                except Exception as e :
                    print(e)
                finally :
                    f.close()
            else :
                print(f'{file_path}는 디렉토리 제외!!')

    return first_txt, second_txt

In [67]:
first_txt, second_txt = text_pro2(sub_dir)
first_txt[0]

"maroon thinks that roger's wife , jessica's , possible unfaithfulness to him might be the cause of distraction and tells eddie to get some photos of her in the act before it costs him any more money in reshoots . \nvaliant takes some photos of jessica playing , `patty cake' with marvin acme ( stubby kaye ) , the owner of toontown ( where all of the cartoon characters live ) and takes them to maroon . \nupon seeing them , roger is emotionally destroyed and soon after acme is found dead and roger rabbit is the prime suspect . \nthe rest of the movie follows valiant and roger as they run around town ( and eventually toontown ) trying to clear roger's good name . \nalong the way they meet judge doom ( christopher lloyd ) a judge-jury-and executioner type who's out to get roger and has discovered the one and only way to kill a `toon . ' \n`who framed roger rabbit' won 4 academy awards including a special achievement award for richard williams for animation direction and creation of the cartoon characters ( williams and his teams went through the film frame by frame and hand drew the cartoon characters in ) . \ndirector robert zemekis must be given an equal amount of praise for overseeing the entire production , which included hundreds of animators . \nalso bob hoskins' performance should be credited. "

# pickle

In [68]:
import pickle

In [70]:
f = open('./data/row_file_231205.pickle', mode='wb') # 이진파일 저장
pickle.dump(row_file, f)
f.close()

In [ ]:
with open('./data/row_file_231205.pickle', mode='wb') as f : # 이진파일 저장
    pickle.dump(row_file, f)

In [75]:
f = open('./data/row_file_231205.pickle', mode='rb')
home_row = pickle.load(f)
f.close()

home_row

["maroon thinks that roger's wife , jessica's , possible unfaithfulness to him might be the cause of distraction and tells eddie to get some photos of her in the act before it costs him any more money in reshoots . \nvaliant takes some photos of jessica playing , `patty cake' with marvin acme ( stubby kaye ) , the owner of toontown ( where all of the cartoon characters live ) and takes them to maroon . \nupon seeing them , roger is emotionally destroyed and soon after acme is found dead and roger rabbit is the prime suspect . \nthe rest of the movie follows valiant and roger as they run around town ( and eventually toontown ) trying to clear roger's good name . \nalong the way they meet judge doom ( christopher lloyd ) a judge-jury-and executioner type who's out to get roger and has discovered the one and only way to kill a `toon . ' \n`who framed roger rabbit' won 4 academy awards including a special achievement award for richard williams for animation direction and creation of the cartoon characters ( williams and his teams went through the film frame by frame and hand drew the cartoon characters in ) . \ndirector robert zemekis must be given an equal amount of praise for overseeing the entire production , which included hundreds of animators . \nalso bob hoskins' performance should be credited. ",
 'it shouldn\'t have surprised me , then , that kundun , a film about a mystical religion , actually turned out to be quite straightforward . \nthe movie follows the life of the 14th dalai lama , the spiritual and political leader of tibet . \nthe movie\'s title is another name for the dalai lama which means " ocean of wisdom . " \nhis story is told in strict chronological order and there are only a few cinematic visions to embellish the literal story . \n ( one of which makes an interesting statement : pay attention to the film\'s opening shot and watch where it is repeated . ) \nwe first glimpse the dalai lama when he is two years old. \nhis curiosity and self-assuredness capture the attention of a monk wandering in search of the new lama . \na test is arranged to see if this boy really is the reincarnation of the 13 dalai lamas who have gone before . \nseveral items belonging to the previous dalai lama are laid before the boy alongside some other items . \nthe child is asked if he recognizes any of the items as his own.',
 'who cowrote the script with emmanuelle bernheim , marcia romano , and marina de van , has turned in a more mature work than his previous , creepy " see the sea . " \nwhile he cleverly never lets us see jean enter the water that fateful day , leaving a number of possibilities - accident ? , suicide ? , escape ? \n- open , he definitely tips his hand towards a certain outcome . \ncinematography by antoine hiberli and jeanne lapoirie glides around marie or captures rampling\'s exotic face in mood divining closeup . \nin an inventive fantasy scene , marie imagines jean\'s hands massaging her feet while in a state of auto-arousal . \nhis two hands become four , then more combined with her own , becoming almost a one person orgy and recalling roman polanski\'s " repulsion . " \noriginal music by philippe rombi quietly adds to the overall melancholy. ',
 'kiki comes to realize not only the beauty of her surroundings , but the innate beauty inside her . \nseeing kiki regain faith in herself is marvelous , and the principal device used to do it is so sublime that i don\'t even want to hint at it . \nthe ending of the movie has a subtle charm combined with a sense of awe and , ironically , the most disney-esque moment i\'ve ever seen ; if you don\'t hold your breath in wonder you might want to get medical attention . \nthe movie steers free of many of the disney conventions : there is no violence , however cartoonish , no song-and-dance number , and kiki\'s pet cat jiji is more a friend than a comedic sidekick , although jiji is given many funny lines and scenes . \nhowever , i would be surprised if disney doesn\'t give jiji more jokes , or at least the voice of some comedian . \nrefreshingly enough , the moral lesson of the movie is not self-contradicted , a habit disney movies have gotten into . \n " beauty and the beast " \'s beautiful belle , for instance , learned that beauty was derived from a person\'s inside , and was then rewarded by having the beast turn into a handsome prince in snazzy clothing . \nkiki , on the other hand , learns to separate her wardrobe from her self-image , and nothing more is made of her early desires for better clothing than illustrating her increased maturity at the end of the film . \nanother difference with disney movies is in the style of animation for " kiki\'s delivery service " : not as colorful and dynamic as disney animation can be , but with a greater attention to realism and detail , it fits the movie to a t . this is particularly true with scenes of kiki\'s flights . \nthe extreme realism of the birds in flight near kiki is magnificent to behold , and helps these scenes capture the wonder of flight better than any other film i\'ve ever seen . \ni\'m not sure when or how this movie will be released in the united states. ',
 "we see matthew broderick , a man torn to a primal state ; he's been unfaithful to his wife , lied to and manipulated his students , and by the same token they've demeaned his masculinity , his self-respect , his desperate attempt at changing the world . \nand yet , he equates the cause of his pain , his torment , with tracy flick ( reese witherspoon ) . \nno matter how many students have come and gone , and disappointed him as an educator , she's the real threat . \nabout to give in , and divulge that she's won by only a lone vote , broderick's mccalister turns in defeat , sees tracy's euphoric celebration in the outside corridor and says , 'no' . \nthe fact that he simultaneously lusts after her ideologically further illustrates that freudian foundation of entitlement which all men , no matter how obscure , have in their relationships ; a traditional expectation of success , to usurp and surpass women as a proverbial industry . \nshe can't go higher than him . \nhe won't allow it. ",
 "writer oliver stone and director brian de palma make an explosive combination here . \nstone's script offers solid storytelling and some fine character development . \nmontana is fascinating ; uneducated but calculating , a straight shooter who speaks from the heart ; an ambitious , violent man yet one with a conscience . \na man fiercely protective of his beautiful 20 year old sister , not wanting her to be sucked into the glitzy , dangerous world which he inhabits . \npacino is dynamite , taking to the role with a brooding , bristling energy which in his more recent films has often degenerated into just simple overracting . \npfeiffer also registers strongly as the gangstar mole with no inner life . \nonly once does tony express real affection for her and his desire to have children , and even then you sense all he really wants is a regular screw and a beautiful object to show off to his friends , and she's happy to oblige . \nthis isn't as meaty a role for pfieffer as sharon stone's was in casino , but its an effective one nonetheless and she aquits herself well . \nas director , de palma sets up a number of dramatic scenes with his typical stylistic brauva . \nthe escalating tension he creates in various mob situations - a drug deal gone wrong , an assination attempt - is often thrilling , and in this respect he is every bit the equal of scorese and coppola . \nwhere he differs from , say , coppola's godfather trilogy is in his overall treatment . \ncoppola gives his crime sagas an operatic sweep , whereas in scarface de palma opts for a grittier feel . \nand it perfectly suits the material. ",
 "to me , any movie with russian-sounding accents for bad guys , jamaican accents for good guys , and middle eastern-sounding accents for seedy gamblers accents can be expected to be more tongue in cheek than profound . \nvisually , star wars : episode i --the phantom menace ( 1999 ) is a kid show where parents can take their young ones to marvel at child-friendly cgi characters and wondrous backdrops even if the character dialogue ( mostly geopolitics ) is beyond the level of children . \nit is left to parents to patiently explain the conversation : droid origins , family lineage , the definitions of terms like blockade , appeasement , federation , alliance , symbiosis , satellite-controlled robots et cetera . \nat least this much is clear : there's plenty of eye candy , and in the last few minutes it's good guys and joe camel lookalikes versus a caped , horned red devil character and his mechanical hordes . \nweaknesses : weaknesses lie in the writing and in the performance . \nat first it seems like the film is to be an invasion story , but then phantom takes an hour-long detour to cover one chariot race before returning to the invasion theme . \nthis dilutes the central story . \nadditionally , smaller scenes seem written self consciously , as if they were added more to fill us in on extraneous background information for other movies rather than form an integral part of the present movie . \nveteran actors liam neeson and ewan mcgregor noticeably outperform the other acting leads .",
 'john believes that his mother is somehow connected to his failed relationships with women , either because of his flawed self-esteem caused by his need for validation , or perhaps because he tends to unconsciously seek out women who remind him of his mother in an oedipal manner . \nhe comes to the conclusion that since his problems are rooted in his boyhood home , he should move back in with his mother for a while just to see what kinds of feelings come out , and by that be able to sort out why his life is the way it is . \n " a great experiment " , he calls it . \nbrooks\' own brand of humor really shines in this film , especially in the interaction john has with his mother . \nthere\'s a scene where john has just arrived at his mother\'s house , and after having driven from los angeles to sausalito , and having explained to his mother about the " great experiment " , beatrice asks , " now explain to me again why you don\'t want to stay at a hotel . " \nshe still doesn\'t get it , and it is absolutely hilarious . \nin the same scene , we get little glances at the life his mother leads when she tries to feed him food that is no longer fresh . \nshe apparently buys in great quantities and refrigerates it until the lettuce is wilted and the sherbet is iced over . \nwhen john points out the ice on the sherbet , beatrice tells him not to worry about the protective glaze . ',
 'the acting and direction is top-notch -- never sappy , always touching . \na friend of mine once reported that he avoided it because " i was afraid it would just be really politically correct , and tick me off . " \nall i could do was tell him to go in unbiased , and enjoy. \nit is one of the few movies that has completely reduced me to tears. \nbut certain memories should not often be rereleased -- in the last few shots , you have to cry. ',
 "vail himself is a former prosecutor , and quit because of tensions between himself and the district attorney , played very well by john mahoney ( frasier's father on the tv series ) . \nthere is an underlying theme of dichotomy in the movie : people have public faces , and private faces . \nwe see this in the murdered archbishop, in the accused , and , most strongly , defense attorney martin vail . \nrichard gere does a fairly good job. \nat first , he appears to be a money- and attention-grabbing lawyer, with no consideration of the truth . \nbut we see another side, as he becomes a seeker of justice, and comes to believe in his client. \nalfre woodard , as the judge, is capable, though somewhat wasted in a standard role. \nlaura linney also does journeyman work ; nothing spectacular, but acceptable. ",
 'the background music keeps you in a state of urgency , and even suspense , for the first few conversations . \nit\'s only after repeated failures to pay any of this off that you lose all hope. \nand with speeches like , " i am thinking of something , but i can only think of that something when i am thinking of something else , " how can you expect to hold anyone\'s interest ? \nto godard\'s credit , he certainly knows how to frame a scene . \nthe black and white footage used for the first half of the film is starkly beautiful. \nwatching edgar read while walking along a train track on a mountain makes you wish you had something to ponder along with him . \nand if this film had anything poignant to say , you would have , which makes you all the angrier at the numerous missed opportunities . \nthe environments , be it city or country , are impeccably captured in crisp detail , but the script never complements them . \nunfortunately , godard also manages to pillage his photographic eye by randomly cutting to black numerous times within any given scene . \nsometimes these breaks are used for chapter headings , but these are even more cryptic than the spoken words . \nthe second half is composed of nauseating hyper-color that often blurs the image. \nyou suddenly feel like a doomed character straight out of scanners. ',
 'just that the comic setups are obvious and the payoffs nearly all fall flat . \nthe four leads are nearly all playing the same character . \nonly williams stands out ( while still performing on the level of his humor-free comedy rocket man ) , but that is because he\'s imprisoned throughout most of the film , giving a much needed change of pace ( but mostly swapping one set of obvious gags for another ) . \nto help out , the film is packed full of cameos . \nsteven wright , tommy chong , janeane garofalo , willie nelson , snoop doggy dogg , and jon stewart all make appearances at one point or another . \nnone of them work , beyond the simple " hey , that\'s _____ " level . \nin fact the funniest work in the film comes from chappelle . \nnot as his bland pothead lead , but in his second role , as a pot-obsessed rapper , sir smokealot . \ngranted , it\'s pretty much a one-joke role , and there aren\'t a ton of laughs . . . \n',
 "four of the biggest directors in hollywood : quentin tarantino , robert rodriguez , alexander rockwell , and alison anders were all directing one big film with a big and popular cast . \ni guess it was all just too much because this turned out to be the biggest flop of the year and it could of been great . \nthe plot : it's new years eve and it's a bellboy's first day on the job . \nhe encounters many mysterious and kinky hotel guests as he tries to handle all his own problems . \ntarantino told his directors this plot , and each of them wrote a script . \nit turned out each of them had written a dark comedy . \nanders wrote and directed the tale about a coven of witches ( madonna , valeria golino , alicia witt , and ione skye ) , which was the worst one out of all of them . \nthe second room ( jennifer beals ) was better , but lacking in plot . \nthis room was about a man who accuses every man of sleeping with his wife . \nthe third room ( antonio banderas ) was the best roomm , about two rambunctous kids that trash a hotel suite . \nthe final one ( tarantino , willis ) was about a movie star wanting the bellboy to chop off someone's finger . \nthe movie was just plain trash. ",
 "the sequence was there for a purpose : to evoke a strong emotional response from the viewer . \ni'm usually a sucker for such scenes and yet this time , i was just sitting there , my emotions untouched . \nthis remains true through all of the movie which remains emotionally barren . \nwe never develop connections to the characters ; never given a reason to care . \nthis ludicrously long epic was directed by andy tennant , whose last film was ever after , one of my favorites of 1998 . \ni do not doubt tennant's ability to put together a decent movie , but anna and the king , aside from being psychologically inept is also technologically deficient . \nthe sets and scenery are gorgeous , but the camerawork does nothing to convey its grandeur . \neven terrence malick managed to do more with flora and fauna in his otherwise abysmal the thin red line than tennant can muster from $75 million worth of props and a shoot in malaysia . \nwe feel like the camera is restricted to its immediate point of view ; there are no wide tracking shots or sweeping zooms to fill us with larger-than-life awe . \ni liked both foster and yun-fat , who give entertaining if not terribly involving performances in the two lead roles . \nfoster's generally stoic persona serves her well here , as she is playing a reserved , formal and rather underdeveloped character . \nyun-fat is especially effective , perfectly conveying the king of siam's sangfroid permeated with violent outbursts . \nwhat does anna and the king in is its inability to involve the viewer in its characters and situations . \nthe cast is great , the director is talented , and the budget is lavish , but this ill-advised remake of the classic rogers and hammerstein movie is unable to utilize any of those things to form a compelling whole . \nthis is an emotionless costume epic . \n",

In [ ]:
with open('./data/row_file_231205.pickle', mode='rb') as f :
    home_row = pickle.load(f)

home_row

In [81]:
import pandas as pd
import numpy as np
import scipy as sc

pd.__version__, np.__version__, sc.__version__

('2.1.1', '1.26.2', '1.11.4')

In [79]:
pip install scipy

Collecting scipy
  Downloading scipy-1.11.4-cp311-cp311-win_amd64.whl.metadata (60 kB)
     ---------------------------------------- 0.0/60.4 kB ? eta -:--:--
     ------------ ------------------------- 20.5/60.4 kB 330.3 kB/s eta 0:00:01
     -------------------------------------- 60.4/60.4 kB 809.0 kB/s eta 0:00:00
Requirement already satisfied: numpy<1.28.0,>=1.21.6 in d:\anaconda\lib\site-packages (from scipy) (1.26.2)
Downloading scipy-1.11.4-cp311-cp311-win_amd64.whl (44.1 MB)
   ---------------------------------------- 0.0/44.1 MB ? eta -:--:--
    --------------------------------------- 0.6/44.1 MB 11.5 MB/s eta 0:00:04
   - -------------------------------------- 1.1/44.1 MB 11.8 MB/s eta 0:00:04
   - -------------------------------------- 1.7/44.1 MB 11.9 MB/s eta 0:00:04
   -- ------------------------------------- 2.2/44.1 MB 11.9 MB/s eta 0:00:04
   -- ------------------------------------- 2.8/44.1 MB 11.9 MB/s eta 0:00:04
   --- ------------------------------------ 3.3/44.1 MB 11.9 MB/s eta 0:00:04
   --- ------------------------------------ 3.9/44.1 MB 11.8 MB/s eta 0:00:04
   ---- ----------------------------------- 4.4/44.1 MB 11.7 MB/s eta 0:00:04
   ---- ----------------------------------- 5.0/44.1 MB 11.7 MB/s eta 0:00:04
   ---- ----------------------------------- 5.5/44.1 MB 11.7 MB/s eta 0:00:04
   ----- ---------------------------------- 6.1/44.1 MB 11.7 MB/s eta 0:00:04
   ----- ---------------------------------- 6.6/44.1 MB 11.7 MB/s eta 0:00:04
   ------ --------------------------------- 7.1/44.1 MB 11.7 MB/s eta 0:00:04
   ------ --------------------------------- 7.7/44.1 MB 11.7 MB/s eta 0:00:04
   ------- -------------------------------- 8.2/44.1 MB 11.7 MB/s eta 0:00:04
   ------- -------------------------------- 8.8/44.1 MB 11.7 MB/s eta 0:00:04
   -------- ------------------------------- 9.3/44.1 MB 11.7 MB/s eta 0:00:03
   -------- ------------------------------- 9.9/44.1 MB 11.7 MB/s eta 0:00:03
   --------- ------------------------------ 10.5/44.1 MB 11.7 MB/s eta 0:00:03
   --------- ------------------------------ 11.0/44.1 MB 11.7 MB/s eta 0:00:03
   ---------- ----------------------------- 11.6/44.1 MB 11.7 MB/s eta 0:00:03
   ---------- ----------------------------- 12.1/44.1 MB 11.7 MB/s eta 0:00:03
   ----------- ---------------------------- 12.7/44.1 MB 11.7 MB/s eta 0:00:03
   ----------- ---------------------------- 13.2/44.1 MB 11.7 MB/s eta 0:00:03
   ------------ --------------------------- 13.8/44.1 MB 11.7 MB/s eta 0:00:03
   ------------ --------------------------- 14.3/44.1 MB 11.7 MB/s eta 0:00:03
   ------------- -------------------------- 14.8/44.1 MB 11.7 MB/s eta 0:00:03
   ------------- -------------------------- 15.4/44.1 MB 11.7 MB/s eta 0:00:03
   -------------- ------------------------- 15.9/44.1 MB 11.7 MB/s eta 0:00:03
   -------------- ------------------------- 16.5/44.1 MB 11.7 MB/s eta 0:00:03
   --------------- ------------------------ 17.0/44.1 MB 11.7 MB/s eta 0:00:03
   --------------- ------------------------ 17.6/44.1 MB 11.7 MB/s eta 0:00:03
   ---------------- ----------------------- 18.1/44.1 MB 11.9 MB/s eta 0:00:03
   ---------------- ----------------------- 18.6/44.1 MB 11.9 MB/s eta 0:00:03
   ----------------- ---------------------- 19.2/44.1 MB 11.9 MB/s eta 0:00:03
   ----------------- ---------------------- 19.7/44.1 MB 11.9 MB/s eta 0:00:03
   ------------------ --------------------- 20.3/44.1 MB 11.9 MB/s eta 0:00:03
   ------------------ --------------------- 20.8/44.1 MB 11.9 MB/s eta 0:00:02
   ------------------- -------------------- 21.4/44.1 MB 11.9 MB/s eta 0:00:02
   ------------------- -------------------- 22.0/44.1 MB 11.9 MB/s eta 0:00:02
   -------------------- ------------------- 22.5/44.1 MB 11.9 MB/s eta 0:00:02
   -------------------- ------------------- 23.0/44.1 MB 11.9 MB/s eta 0:00:02
   --------------------- ------------------ 23.6/44.1 MB 11.9 MB/s eta 0:00:02
   --------------------- ------------------ 24.1/44.1 MB 11.9 MB/s eta 0:00:02
   ---------------------- ----------------- 24.7/44.1 MB 11.9 MB/s eta 0:00:02
   ---------------------- ----------------- 25.2/44.1 MB 11.7 MB/s eta 0:00:02
   ----------------------- ---------------- 25.7/44.1 MB 11.7 MB/s eta 0:00:02
   ----------------------- ---------------- 26.3/44.1 MB 11.7 MB/s eta 0:00:02
   ------------------------ --------------- 26.8/44.1 MB 11.7 MB/s eta 0:00:02
   ------------------------ --------------- 27.4/44.1 MB 11.7 MB/s eta 0:00:02
   ------------------------- -------------- 27.9/44.1 MB 11.7 MB/s eta 0:00:02
   ------------------------- -------------- 28.4/44.1 MB 11.7 MB/s eta 0:00:02
   -------------------------- ------------- 29.0/44.1 MB 11.9 MB/s eta 0:00:02
   -------------------------- ------------- 29.5/44.1 MB 11.9 MB/s eta 0:00:02
   --------------------------- ------------ 30.0/44.1 MB 11.9 MB/s eta 0:00:02
   --------------------------- ------------ 30.6/44.1 MB 11.9 MB/s eta 0:00:02
   ---------------------------- ----------- 31.0/44.1 MB 11.7 MB/s eta 0:00:02
   ---------------------------- ----------- 31.7/44.1 MB 11.9 MB/s eta 0:00:02
   ----------------------------- ---------- 32.2/44.1 MB 11.9 MB/s eta 0:00:01
   ----------------------------- ---------- 32.7/44.1 MB 11.7 MB/s eta 0:00:01
   ------------------------------ --------- 33.3/44.1 MB 11.7 MB/s eta 0:00:01
   ------------------------------ --------- 33.8/44.1 MB 11.7 MB/s eta 0:00:01
   ------------------------------- -------- 34.4/44.1 MB 11.7 MB/s eta 0:00:01
   ------------------------------- -------- 34.9/44.1 MB 11.7 MB/s eta 0:00:01
   -------------------------------- ------- 35.5/44.1 MB 11.7 MB/s eta 0:00:01
   -------------------------------- ------- 36.0/44.1 MB 11.7 MB/s eta 0:00:01
   --------------------------------- ------ 36.6/44.1 MB 11.7 MB/s eta 0:00:01
   --------------------------------- ------ 37.1/44.1 MB 11.7 MB/s eta 0:00:01
   ---------------------------------- ----- 37.7/44.1 MB 11.7 MB/s eta 0:00:01
   ---------------------------------- ----- 38.2/44.1 MB 11.9 MB/s eta 0:00:01
   ----------------------------------- ---- 38.8/44.1 MB 11.9 MB/s eta 0:00:01
   ----------------------------------- ---- 39.3/44.1 MB 11.9 MB/s eta 0:00:01
   ------------------------------------ --- 39.8/44.1 MB 11.9 MB/s eta 0:00:01
   ------------------------------------ --- 40.4/44.1 MB 11.9 MB/s eta 0:00:01
   ------------------------------------- -- 40.9/44.1 MB 11.9 MB/s eta 0:00:01
   ------------------------------------- -- 41.5/44.1 MB 11.9 MB/s eta 0:00:01
   -------------------------------------- - 42.0/44.1 MB 11.9 MB/s eta 0:00:01
   -------------------------------------- - 42.5/44.1 MB 11.9 MB/s eta 0:00:01
   ---------------------------------------  43.1/44.1 MB 11.7 MB/s eta 0:00:01
   ---------------------------------------  43.6/44.1 MB 11.7 MB/s eta 0:00:01
   ---------------------------------------  44.1/44.1 MB 11.9 MB/s eta 0:00:01
   ---------------------------------------- 44.1/44.1 MB 11.1 MB/s eta 0:00:00
Installing collected packages: scipy
Successfully installed scipy-1.11.4
Note: you may need to restart the kernel to use updated packages.

In [80]:
pip install scikit-learn

Collecting scikit-learn
  Downloading scikit_learn-1.3.2-cp311-cp311-win_amd64.whl.metadata (11 kB)
Requirement already satisfied: numpy<2.0,>=1.17.3 in d:\anaconda\lib\site-packages (from scikit-learn) (1.26.2)
Requirement already satisfied: scipy>=1.5.0 in d:\anaconda\lib\site-packages (from scikit-learn) (1.11.4)
Collecting joblib>=1.1.1 (from scikit-learn)
  Downloading joblib-1.3.2-py3-none-any.whl.metadata (5.4 kB)
Collecting threadpoolctl>=2.0.0 (from scikit-learn)
  Downloading threadpoolctl-3.2.0-py3-none-any.whl.metadata (10.0 kB)
Downloading scikit_learn-1.3.2-cp311-cp311-win_amd64.whl (9.2 MB)
   ---------------------------------------- 0.0/9.2 MB ? eta -:--:--
   - -------------------------------------- 0.4/9.2 MB 8.5 MB/s eta 0:00:02
   ---- ----------------------------------- 1.0/9.2 MB 10.1 MB/s eta 0:00:01
   ------ --------------------------------- 1.5/9.2 MB 10.6 MB/s eta 0:00:01
   -------- ------------------------------- 2.0/9.2 MB 10.8 MB/s eta 0:00:01
   ----------- ---------------------------- 2.6/9.2 MB 11.0 MB/s eta 0:00:01
   ------------- -------------------------- 3.2/9.2 MB 11.2 MB/s eta 0:00:01
   ---------------- ----------------------- 3.7/9.2 MB 11.2 MB/s eta 0:00:01
   ------------------ --------------------- 4.2/9.2 MB 11.3 MB/s eta 0:00:01
   -------------------- ------------------- 4.8/9.2 MB 11.3 MB/s eta 0:00:01
   ----------------------- ---------------- 5.3/9.2 MB 11.4 MB/s eta 0:00:01
   ------------------------- -------------- 5.9/9.2 MB 11.4 MB/s eta 0:00:01
   --------------------------- ------------ 6.4/9.2 MB 11.4 MB/s eta 0:00:01
   ------------------------------ --------- 7.0/9.2 MB 11.5 MB/s eta 0:00:01
   -------------------------------- ------- 7.5/9.2 MB 11.5 MB/s eta 0:00:01
   ----------------------------------- ---- 8.1/9.2 MB 11.5 MB/s eta 0:00:01
   ------------------------------------- -- 8.6/9.2 MB 11.5 MB/s eta 0:00:01
   ---------------------------------------  9.2/9.2 MB 11.5 MB/s eta 0:00:01
   ---------------------------------------- 9.2/9.2 MB 11.3 MB/s eta 0:00:00
Downloading joblib-1.3.2-py3-none-any.whl (302 kB)
   ---------------------------------------- 0.0/302.2 kB ? eta -:--:--
   ---------------------------------------- 302.2/302.2 kB 9.4 MB/s eta 0:00:00
Downloading threadpoolctl-3.2.0-py3-none-any.whl (15 kB)
Installing collected packages: threadpoolctl, joblib, scikit-learn
Successfully installed joblib-1.3.2 scikit-learn-1.3.2 threadpoolctl-3.2.0
Note: you may need to restart the kernel to use updated packages.

In [1]:
pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.1.0-py3-none-any.whl.metadata (4.4 kB)
Downloading PyMySQL-1.1.0-py3-none-any.whl (44 kB)
   ---------------------------------------- 0.0/44.8 kB ? eta -:--:--
   ---------------------------------------- 44.8/44.8 kB 1.1 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.0
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pymysql

pymysql.__version__

'1.4.6'

In [3]:
try :
    conn = pymysql.connect(host='localhost',
                           user='root',
                           password='rpass',
                           db='kdigital2307')
    print('conn OK!!')
except Exception as e :
    print(e)
finally :
    conn.close()

conn OK!!

In [6]:
try :
    conn = pymysql.connect(host='localhost',
                           user='root',
                           password='rpass',
                           db='kdigital2307')
    cursor = conn.cursor()
    sql = 'SELECT COUNT(*) FROM users'
    cursor.execute(sql)
    cnt = cursor.fetchone() # (0, )
    print('cnt =', cnt[0])
except Exception as e :
    print(e)
finally :
    cursor.close()
    conn.close()

cnt = 0

In [7]:
try :
    conn = pymysql.connect(host='localhost',
                           user='root',
                           password='rpass',
                           db='kdigital2307')
    with conn.cursor() as cursor :
        sql = 'SELECT COUNT(*) FROM users'
        cursor.execute(sql)
        cnt = cursor.fetchone() # (0, )
        print('cnt =', cnt[0])
except Exception as e :
    print(e)
finally :
    conn.close()

cnt = 0

In [8]:
try :
    with pymysql.connect(host='localhost',
                           user='root',
                           password='rpass',
                           db='kdigital2307') as conn :
        with conn.cursor() as cursor :
            sql = 'SELECT COUNT(*) FROM users'
            cursor.execute(sql)
            cnt = cursor.fetchone() # (0, )
            print('cnt =', cnt[0])
except Exception as e :
    print(e)

cnt = 0

In [14]:
with pymysql.connect(host='localhost',
                     user='root',
                     password='rpass',
                     db='kdigital2307') as conn :
    with conn.cursor() as cursor :
        sql = 'SELECT * FROM users'
        cursor.execute(sql)
        user = cursor.fetchone()
        print(user)
        print(user[0], user[1], user[2])

(1, 'hong1@', '1111')
1 hong1@ 1111

In [21]:
with pymysql.connect(host='localhost',
                     user='root',
                     password='rpass',
                     db='kdigital2307') as conn :
    with conn.cursor() as cursor :
        sql = 'SELECT * FROM users'
        cursor.execute(sql)
        users = cursor.fetchall()
        print(users)

((1, 'hong1@', '1111'), (2, 'hong2@', '2222'))

In [22]:
with pymysql.connect(host='localhost',
                     user='root',
                     password='rpass',
                     db='kdigital2307',
                     cursorclass=pymysql.cursors.DictCursor) as conn : # dict 형태
    with conn.cursor() as cursor :
        sql = 'SELECT * FROM users'
        cursor.execute(sql)
        users = cursor.fetchall()
        for row in users :
            print(row)

{'id': 1, 'email': 'hong1@', 'password': '1111'}
{'id': 2, 'email': 'hong2@', 'password': '2222'}

In [16]:
with pymysql.connect(host='localhost',
                     user='root',
                     password='rpass',
                     db='kdigital2307',
                     cursorclass=pymysql.cursors.DictCursor) as conn : # dict 형태
    with conn.cursor() as cursor :
        sql = 'INSERT INTO users(email, password) VALUES ("hong2@", "2222")'
        cursor.execute(sql)
        rs = cursor.fetchone()
        print(rs)
    conn.commit()

None

In [23]:
with pymysql.connect(host='localhost',
                     user='root',
                     password='rpass',
                     db='kdigital2307',
                     cursorclass=pymysql.cursors.DictCursor) as conn : # dict 형태
    with conn.cursor() as cursor :
        sql = 'INSERT INTO users(email, password) VALUES (%s, %s)'
        cursor.execute(sql, (email, password))
        rs = cursor.fetchone()
        print(rs)
    conn.commit()

None

In [14]:
def select_all() :
    with pymysql.connect(host='localhost',
                     user='root',
                     password='rpass',
                     db='kdigital2307',
                     cursorclass=pymysql.cursors.DictCursor) as conn : # dict 형태
        with conn.cursor() as cursor :
            sql = 'SELECT * FROM users'
            cursor.execute(sql)
            users = cursor.fetchall()
            return users

In [15]:
users = select_all()
for row in users :
    print(row)

{'id': 1, 'email': 'hong1@', 'password': '1111'}
{'id': 2, 'email': 'hong2@', 'password': '2222'}
{'id': 3, 'email': 'hong3@', 'password': '3333'}

In [6]:
def select_one(id) :
        with pymysql.connect(host='localhost',
                     user='root',
                     password='rpass',
                     db='kdigital2307',
                     cursorclass=pymysql.cursors.DictCursor) as conn : # dict 형태
            with conn.cursor() as cursor :
                sql = 'SELECT * FROM users WHERE id = %s'
                cursor.execute(sql, (id, ))
                user = cursor.fetchall()
                return user

In [7]:
user = select_one(3)
print(user[0])

{'id': 3, 'email': 'hong3@', 'password': '3333'}

In [38]:
def user_update(id, email, password) :
    with pymysql.connect(host='localhost',
                         user='root',
                         password='rpass',
                         db='kdigital2307',
                         cursorclass=pymysql.cursors.DictCursor) as conn : # dict 형태
        with conn.cursor() as cursor :
            sql = 'UPDATE users SET email = %s, password = %s WHERE id = %s'
            cursor.execute(sql, (email, password, id))
            rs = cursor.fetchone()
            print(rs)
        conn.commit()

In [39]:
user_update(1, 'hong@email.com', '1212')

None

In [41]:
user_update(1, 'hong1@', '1111')

None

In [1]:
def user_insert(email, password) :
    with pymysql.connect(host='localhost',
                         user='root',
                         password='rpass',
                         db='kdigital2307',
                         cursorclass=pymysql.cursors.DictCursor) as conn : # dict 형태
        with conn.cursor() as cursor :
            sql = 'INSERT INTO users(email, password) VALUES (%s, %s)'
            cursor.execute(sql, (email, password))
            rs = cursor.lastrowid
            print(rs)
        conn.commit()

In [4]:
user_insert('hong4@', '4444')

5

In [10]:
def user_delete(id) :
    with pymysql.connect(host='localhost',
                         user='root',
                         password='rpass',
                         db='kdigital2307',
                         cursorclass=pymysql.cursors.DictCursor) as conn : # dict 형태
        with conn.cursor() as cursor :
            sql = 'DELETE FROM users WHERE id = %s'
            cursor.execute(sql, (id, ))
            rs = cursor.fetchone()
            print(rs)
        conn.commit()

In [13]:
user_delete(4)

None

In [ ]:
# MSSQL 예제
import pymssql

def select_all_mssql() :
    with pymssql.connect(host='localhost',
                     user='sa',
                     password='sapass',
                     database='memberdb') as conn : # dict 형태
        with conn.cursor() as cursor :
            sql = 'SELECT * FROM users'
            cursor.execute(sql)
            users = cursor.fetchall()
            return users

def user_insert_mssql(id, pw, name, age) :
    with pymssql.connect(host='localhost',
                         user='sa',
                         password='sapass',
                         database='kdigital2307') as conn : # dict 형태
        with conn.cursor() as cursor :
            sql = 'INSERT INTO users(id, pw, name, age) VALUES (%s, %s, %s, %s)'
            cursor.execute(sql, (id, pw, name, age))
            rs = cursor.fetchone()
            print(rs)
        conn.commit()

In [16]:
import sqlite3

In [19]:
with sqlite3.connect('./data/python.db') as conn :
    print('ok')

ok

In [23]:
table = '''
CREATE TABLE miniboard ( 
idx INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT, 
writer TEXT NOT NULL, 
title TEXT NOT NULL, 
content TEXT NOT NULL, 
regdate TEXT NOT NULL DEFAULT (datetime('now','localtime'))
)
'''

with sqlite3.connect('./data/python.db') as conn :
    cursor = conn.cursor()
    cursor.execute(table)
    print('ok')

ok

In [25]:
def insert_sqlite3(data) :
    with sqlite3.connect('./data/python.db') as conn :
        cursor = conn.cursor()
        sql = 'INSERT INTO miniboard(writer, title, content) VALUES (?, ?, ?)'
        cursor.execute(sql, data)
        print('ok')

In [26]:
data = 'hong', 'title1', 'content1'
insert_sqlite3(data)

ok

In [73]:
def select_sqlite3() :
    with sqlite3.connect('./data/python.db') as conn :
        cursor = conn.cursor()
        sql = 'SELECT * FROM miniboard'
        cursor.execute(sql)
        rs = cursor.fetchall()
        return rs

In [88]:
def select_sqlite3_dict() :
    with sqlite3.connect('./data/python.db') as conn :
        conn.row_factory = sqlite3.Row
        cursor = conn.cursor()
        sql = 'SELECT * FROM miniboard'
        cursor.execute(sql)
        rs = cursor.fetchall()
        rs_list = []
        rs_dict = []
        for r in rs :
            rs_list.append(list(r))
            rs_dict.append(dict(r))
        return rs_list, rs_dict

In [74]:
rs = select_sqlite3()
for row in rs :
    print(row)

(1, 'hong', 'title1', 'content1', '2023-12-05 15:05:49')

In [89]:
rs_list, rs_dict = select_sqlite3_dict()
print(rs_list)
print(rs_dict)

[[1, 'hong', 'title1', 'content1', '2023-12-05 15:05:49']]
[{'idx': 1, 'writer': 'hong', 'title': 'title1', 'content': 'content1', 'regdate': '2023-12-05 15:05:49'}]

In [66]:
rs = select_sqlite3_dict()
print(rs)

[<sqlite3.Row object at 0x000001C61DAEADA0>]

In [47]:
def update_sqlite3(data) :
    with sqlite3.connect('./data/python.db') as conn :
        cursor = conn.cursor()
        sql = 'UPDATE miniboard SET writer = ?, title = ?, content = ? WHERE idx = ?'
        cursor.execute(sql, data)
        print('ok')

In [50]:
data = 'hong1', '1111', '1111', '1'

update_sqlite3(data)

ok

In [57]:
def delete_sqlite3(data) :
    with sqlite3.connect('./data/python.db') as conn :
        cursor = conn.cursor()
        sql = 'DELETE FROM miniboard WHERE idx = ?'
        cursor.execute(sql, data)
        print('ok')

In [58]:
data = (2,)

delete_sqlite3(data)

ok

In [90]:
import pandas as pd
import sqlite3

In [91]:
def select_pandas() :
    with sqlite3.connect('./data/python.db') as conn :
        sql = 'SELECT * FROM miniboard'
        rs = pd.read_sql_query(sql, conn)
        print(type(rs))
        return rs

In [100]:
df = select_pandas()
df

<class 'pandas.core.frame.DataFrame'>

   idx writer   title   content              regdate
0    1   hong  title1  content1  2023-12-05 15:05:49

In [101]:
dict(df)

{'idx': 0    1
 Name: idx, dtype: int64,
 'writer': 0    hong
 Name: writer, dtype: object,
 'title': 0    title1
 Name: title, dtype: object,
 'content': 0    content1
 Name: content, dtype: object,
 'regdate': 0    2023-12-05 15:05:49
 Name: regdate, dtype: object}

In [102]:
pip install tinydb

Collecting tinydb
  Downloading tinydb-4.8.0-py3-none-any.whl.metadata (6.2 kB)
Downloading tinydb-4.8.0-py3-none-any.whl (24 kB)
Installing collected packages: tinydb
Successfully installed tinydb-4.8.0
Note: you may need to restart the kernel to use updated packages.

# NoSQL

In [103]:
from tinydb import TinyDB, Query

In [104]:
db = TinyDB('./data/db.json')

#### insert

In [105]:
db.insert({'type':'apple', 'count':7})
db.insert({'type':'peach', 'count':3})

2

#### select

In [111]:
db.all()

[{'type': 'apple', 'count': 7}, {'type': 'peach', 'count': 3}]

In [112]:
db.all()[0]

{'type': 'apple', 'count': 7}

In [113]:
db.all()[0]['type']

'apple'

In [114]:
for i in db :
    print(i)

{'type': 'apple', 'count': 7}
{'type': 'peach', 'count': 3}

In [116]:
[i for i in db]

[{'type': 'apple', 'count': 7}, {'type': 'peach', 'count': 3}]

In [129]:
q = Query()
search_type = db.search(q.type == 'peach')
search_count = db.search(q.count > 2)
print(search_type)
print(search_count)

[{'type': 'peach', 'count': 3}]
[{'type': 'apple', 'count': 7}, {'type': 'peach', 'count': 3}]

#### update

In [131]:
db.update({'count':10}, q.type == 'apple')
db.all()

[{'type': 'apple', 'count': 10}, {'type': 'peach', 'count': 3}]

#### delete

In [132]:
db.remove(q.count < 5)
db.all()

[{'type': 'apple', 'count': 10}]

#### truncate

In [133]:
db.truncate()
db.all()

[]

#### create table

In [141]:
fruits = db.table('fruits')

In [142]:
fruits.insert({'type':'apple', 'count':7})
fruits.insert({'type':'peach', 'count':3})

2

In [143]:
fruits.all()

[{'type': 'apple', 'count': 7}, {'type': 'peach', 'count': 3}]

In [144]:
db.all()

[]

#### drop table

In [140]:
db.drop_table('fruits')

In [151]:
import requests
from tinydb import TinyDB, Query

In [155]:
url = 'https://www.dhlottery.co.kr/common.do?method=getLottoNumber&drwNo=1096'
response = requests.get(url)

In [157]:
if response.status_code == 200 :
    rs = response.json()
    db = TinyDB('./data/lotto.json')
    table = db.table('lotto')
    table.insert(rs)

In [158]:
table.all()

[{'totSellamnt': 105753078000,
  'returnValue': 'success',
  'drwNoDate': '2023-12-02',
  'firstWinamnt': 2539391175,
  'drwtNo6': 43,
  'drwtNo4': 19,
  'firstPrzwnerCo': 10,
  'drwtNo5': 23,
  'bnusNo': 34,
  'firstAccumamnt': 25393911750,
  'drwNo': 1096,
  'drwtNo2': 12,
  'drwtNo3': 16,
  'drwtNo1': 1}]