In [3]:
def func1(name, *names) :
    print(name)
    print(names) # tuple
    print(names[2])

In [4]:
func1('hong1', 'hong2', 'hong3', 'kim', 'park')

hong1
('hong2', 'hong3', 'kim', 'park')
kim

In [5]:
from statistics import mean, variance, stdev

In [14]:
def statis(func, *data) : 
    if func == 'avg' :
        return mean(data)
    elif func == 'var' :
        return variance(data)
    elif func == 'std' :
        return stdev(data)
    else :
        print('Type Error')

In [15]:
print('avg =', statis('avg', 1, 2, 3, 4, 5))
print('var =', statis('var', 1, 2, 3, 4, 5))
print('std =', round(statis('std', 1, 2, 3, 4, 5), 2))

avg = 3
var = 2.5
std = 1.58

In [16]:
def statis2(func, data) : # list로 변수 입력
    if func == 'avg' :
        return mean(data)
    elif func == 'var' :
        return variance(data)
    elif func == 'std' :
        return stdev(data)
    else :
        print('Type Error')

In [17]:
print('avg =', statis2('avg', [1, 2, 3, 4, 5]))
print('var =', statis2('var', [1, 2, 3, 4, 5]))
print('std =', round(statis2('std', [1, 2, 3, 4, 5]), 2))

avg = 3
var = 2.5
std = 1.58

In [18]:
def emp_func(name, age, **other) : # dict 처리
    print(name, age)
    print(other)

In [19]:
emp_func('hong', 23, addr='서울', height=180, weight=70)

hong 23
{'addr': '서울', 'height': 180, 'weight': 70}

## 람다함수
- 정의와 호출을 한 번에
- 변수 = lambda 매개변수: 리턴값