In [3]:
def func1(name, *names) :
    print(name)
    print(names) # tuple
    print(names[2])

In [4]:
func1('hong1', 'hong2', 'hong3', 'kim', 'park')

hong1
('hong2', 'hong3', 'kim', 'park')
kim

In [5]:
from statistics import mean, variance, stdev

In [14]:
def statis(func, *data) : 
    if func == 'avg' :
        return mean(data)
    elif func == 'var' :
        return variance(data)
    elif func == 'std' :
        return stdev(data)
    else :
        print('Type Error')

In [15]:
print('avg =', statis('avg', 1, 2, 3, 4, 5))
print('var =', statis('var', 1, 2, 3, 4, 5))
print('std =', round(statis('std', 1, 2, 3, 4, 5), 2))

avg = 3
var = 2.5
std = 1.58

In [16]:
def statis2(func, data) : # list로 변수 입력
    if func == 'avg' :
        return mean(data)
    elif func == 'var' :
        return variance(data)
    elif func == 'std' :
        return stdev(data)
    else :
        print('Type Error')

In [17]:
print('avg =', statis2('avg', [1, 2, 3, 4, 5]))
print('var =', statis2('var', [1, 2, 3, 4, 5]))
print('std =', round(statis2('std', [1, 2, 3, 4, 5]), 2))

avg = 3
var = 2.5
std = 1.58

In [18]:
def emp_func(name, age, **other) : # dict 처리
    print(name, age)
    print(other)

In [19]:
emp_func('hong', 23, addr='서울', height=180, weight=70)

hong 23
{'addr': '서울', 'height': 180, 'weight': 70}

## 람다함수
- 정의와 호출을 한 번에

변수 = lambda 매개변수 : 리턴값

In [20]:
def Adder(x, y) :
    add = x + y
    return add

In [21]:
print('add =', Adder(10, 20))

add = 30

In [22]:
print('add =', (lambda x, y : x + y)(10, 20))

add = 30

In [23]:
Adder2 = lambda x, y : x + y
Adder2(10, 20)

30

In [24]:
calc = lambda dan, su : dan * su

In [25]:
calc(2, 5)

10

In [26]:
calc = lambda dan, *su, **product : print(dan, su, product)

In [27]:
calc(2, 1, 2, 3, 4, 5, a=1000, b=2) # dan = 2 su = 1, 2, 3, 4, 5

2 (1, 2, 3, 4, 5) {'a': 1000, 'b': 2}

## 지역변수와 전역변수

In [38]:
x = 10
def local_func(x) :
    x += 50

In [34]:
local_func(100)
print(x)

10

In [37]:
x = 10
def local_func(x) :
    x += 50
    return x

x = local_func(100)
print(x)

150

In [41]:
x = 10
def local_func(x) :
    x[0] += 50

x = [100]
local_func(x)
print(x[0])

150

In [49]:
x = 100
def global_func() :
    global x
    x += 50

In [50]:
global_func()
print(x)

150

## 중첩함수

In [51]:
def a() :
    print('outer a')
    def b() :
        print('inner b')
    return b

In [52]:
a()

outer a

In [53]:
rs = a()
rs()

outer a
inner b

In [54]:
def calc(data) :
    dataset = data
    
    def tot() :
        tot_val = sum(dataset)
        return tot_val

    def avg(tot_val) :
        avg_val = tot_val / len(dataset)
        return avg_val
    
    return tot, avg

In [58]:
data = list(range(1, 101))
tot, avg = calc(data)
print(tot(), avg(tot()))

5050 50.5

In [59]:
from statistics import mean
from math import sqrt

In [60]:
def scatter_func(data) :
    dataset = data
    
    def avg_func() :
        avg_val = mean(dataset)
        return avg_val
    
    def var_func(avg) :
        diff = [(data-avg) ** 2 for data in dataset]
        var_val = sum(diff) / (len(dataset) - 1)
        return var_val
    
    def std_func(var) :
        return sqrt(var)
    
    return avg_func, var_func, std_func

In [63]:
data = [4, 5, 3.5, 2.5, 6.3, 5.5]
avg, var, std = scatter_func(data)

a = avg()
v = var(a)
s = std(v)

round(a, 2), round(v, 2), round(s, 2)

(4.47, 1.95, 1.4)

In [66]:
def main_func(num) :
    num_val = num
    
    def getter() :
        return num_val
    
    def setter(value) :
        nonlocal num_val
        num_val = value
    
    return getter, setter

In [68]:
getter, setter = main_func(100)

In [69]:
getter()

100

In [70]:
setter(50)
getter()

50

## 래퍼 함수

In [71]:
def wrap(func) :
    def decorated() :
        print('hi!!!')
        func()
        print('bye!!')
    return decorated

In [72]:
@wrap
def hello() :
    print('홍길동')

In [73]:
hello()

hi!!!
홍길동
bye!!

## 재귀함수

In [74]:
def Counter(n) :
    if n == 0 :
        return
    else :
        Counter(n-1)
        print(n)

In [76]:
Counter(5)

1
2
3
4
5

In [75]:
Counter(50)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [77]:
def Adder(n) :
    if n == 1 :
        return 1
    else :
        rs = n + Adder(n-1)
    return rs

In [78]:
Adder(5)

15

In [81]:
def factorial(n) :
    if n == 1 :
        return n
    else :
        rs = n * factorial(n-1)
    return rs

In [82]:
factorial(5)

120

In [84]:
rs = 1
n = 5
for n in range(1, n+1) :
    rs *= n
rs

120

In [85]:
def facto(n) :
    rs = 1
    for n in range(1, n+1) :
        rs *= n
    return rs

facto(5)

120

# 클래스

In [87]:
def calc_func(a, b) :
    x = a
    y = b
    
    def plus() :
        return x + y
    
    def minus() :
        return x - y
    
    return plus, minus

In [91]:
class Calc_class :
    x = y = 0
    
    def __init__(self, a, b) :
        self.x = a
        self.y = b
        
    def plus(self) :
        return self.x + self.y
    
    def minus(self) :
        return self.x - self.y

In [93]:
obj1 = Calc_class(10, 20)
obj1.plus(), obj1.minus(), Calc_class.x

(30, -10, 0)

In [99]:
class Calc_class :
    def __init__(self) :
        self.x = 0
        self.y = 0
        
    def plus(self) :
        return self.x + self.y
    
    def minus(self) :
        return self.x - self.y
    
obj1 = Calc_class()

In [106]:
class Calc_class :
    def __init__(self) :
        pass
    
    def __init__(self, a, b) :
        self.x = a
        self.y = b
        
    def plus(self) :
        return self.x + self.y
    
    def minus(self) :
        return self.x - self.y
    
obj1 = Calc_class()

TypeError: __init__() missing 2 required positional arguments: 'a' and 'b'

In [101]:
class Calc_class :
    def __init__(self) :
        self.x = 0
        self.y = 0
        
    def plus(self) :
        return self.x + self.y
    
    def minus(self) :
        return self.x - self.y
    
obj1 = Calc_class()
obj2 = Calc_class()
obj1 == obj2

False

In [105]:
class Calc_class :
    def __init__(self, x, y) :
        self.x = x
        self.y = y
        
    def plus(self) :
        return self.x + self.y
    
    def minus(self) :
        return self.x - self.y

obj1 = Calc_class(10, 20)
obj2 = Calc_class(100, 200)
obj1.plus(), obj2.minus()

(30, -100)