In [8]:
person = {'name':'홍길동', 'pay':350, 'age':45}
person['age']

45

In [11]:
person['email'] = b'hong@email.com'
person

{'name': '홍길동', 'pay': 350, 'age': 45, 'email': b'hong@email.com'}

In [13]:
if 'age' in person :
    print(person['age'])

45

In [14]:
person.keys()

dict_keys(['name', 'pay', 'age', 'email'])

In [16]:
for key in person.keys() :
    print(key, person[key])

name 홍길동
pay 350
age 45
email b'hong@email.com'

In [17]:
for v in person.values() :
    print(v)

홍길동
350
45
b'hong@email.com'

In [18]:
for item in person.items() :
    print(item)

('name', '홍길동')
('pay', 350)
('age', 45)
('email', b'hong@email.com')

In [20]:
for k, v in person.items() :
    print(k, v)

name 홍길동
pay 350
age 45
email b'hong@email.com'

In [22]:
person['name'], person.get('name')

('홍길동', '홍길동')

In [24]:
print(person.get('n'))

None

In [25]:
person.clear()
person

{}

In [26]:
movie = {
    '광해':[9.24, 1200],
    '공작':[7.86, 500],
    '관상':[8.01, 900],
}
movie

{'광해': [9.24, 1200], '공작': [7.86, 500], '관상': [8.01, 900]}

In [28]:
for item in movie.items() :
    print(item[1])

[9.24, 1200]
[7.86, 500]
[8.01, 900]

In [30]:
for k, v in movie.items() :
    print(v)

[9.24, 1200]
[7.86, 500]
[8.01, 900]

###  문) 평점 8 이상인 영화 제목과 누적관객수 출력하기

In [33]:
tot = 0
title = []
for k, v in movie.items() :
    if v[0] >= 8 :
        tot += v[1]
        title.append(k)
title, tot

(['광해', '관상'], 2100)

### 단어 수 세기

In [41]:
charset = ['abc', 'code', 'band', 'band', 'abc', 'band']
words = {}

char = list(set(charset))
for i in range(len(char)) :
    words[char[i]] = charset.count(char[i])
words

{'code': 1, 'band': 3, 'abc': 2}

In [42]:
charset = ['abc', 'code', 'band', 'band', 'abc', 'band']
words = {}

for w in charset :
    if w in words :
        words[w] += 1
    else :
        words[w] = 1
words

{'abc': 2, 'code': 1, 'band': 3}

In [46]:
charset = ['abc', 'code', 'band', 'band', 'abc', 'band']
words = {}

for w in charset :
    words[w] = words.get(w, 0) + 1
words

{'abc': 2, 'code': 1, 'band': 3}

### 글자 수 세기

In [40]:
charset = ['abc', 'code', 'band', 'band', 'abc', 'band']
char = ''.join(charset)
a = {}

c = list(set(char))
for i in range(len(c)) :
    a[c[i]] = char.count(c[i])
a

{'c': 3, 'n': 3, 'a': 5, 'e': 1, 'o': 1, 'b': 5, 'd': 4}

In [47]:
charset = ['abc', 'code', 'band', 'band', 'abc', 'band']
a = {}

for w in ''.join(charset) :
    a[w] = a.get(w, 0) + 1
a

{'a': 5, 'b': 5, 'c': 3, 'o': 1, 'd': 4, 'e': 1, 'n': 3}

In [54]:
a = [1, 2, 3]
b = a # 참조
c = a[:] # 복사
print(id(a), id(b), id(c))
print(id(a)==id(b), id(a)==id(c), id(b)==id(c))

2399440799872 2399440799872 2399444010752
True False False

In [56]:
d = a.copy()
print(id(a), id(c), id(d))
print(id(a)==id(d), id(c)==id(d))

2399440799872 2399444010752 2399442076096
False False

# 깊은 복사

In [64]:
a[0] = ['a', 'b', 'c']
b = a[:]
a[0][0] = 'aaa' # b[0][0]도 동시에 변경
a[0][0], b[0][0] # 2차원 이상은 깊은 복사 필요

('aaa', 'aaa')

In [67]:
import copy

b = copy.deepcopy(a) # 깊은 복사
b[0][0] = 'a'
a, b

([['aaa', 'b', 'c'], 2, 3], [['a', 'b', 'c'], 2, 3])

In [127]:
import random

dataset = []
random.seed(42)
for i in range(10) :
    r = random.randint(1, 100)
    dataset.append(r)
dataset

[82, 15, 4, 95, 36, 32, 29, 18, 95, 14]

In [79]:
max_num = min_num = dataset[0]
for i in dataset :
    if max_num < i :
        max_num = i
    if min_num > i :
        min_num = i
max_num, min_num

(95, 4)

In [72]:
max(dataset), min(dataset)

(95, 4)

In [81]:
dataset.sort()
dataset

[4, 14, 15, 18, 29, 32, 36, 82, 95, 95]

In [82]:
dataset.sort(reverse=True)
dataset

[95, 95, 82, 36, 32, 29, 18, 15, 14, 4]

In [91]:
import builtins
dir(builtins)

['ArithmeticError',
 'AssertionError',
 'AttributeError',
 'BaseException',
 'BlockingIOError',
 'BrokenPipeError',
 'BufferError',
 'BytesWarning',
 'ChildProcessError',
 'ConnectionAbortedError',
 'ConnectionError',
 'ConnectionRefusedError',
 'ConnectionResetError',
 'DeprecationWarning',
 'EOFError',
 'Ellipsis',
 'EnvironmentError',
 'Exception',
 'False',
 'FileExistsError',
 'FileNotFoundError',
 'FloatingPointError',
 'FutureWarning',
 'GeneratorExit',
 'IOError',
 'ImportError',
 'ImportWarning',
 'IndentationError',
 'IndexError',
 'InterruptedError',
 'IsADirectoryError',
 'KeyError',
 'KeyboardInterrupt',
 'LookupError',
 'MemoryError',
 'ModuleNotFoundError',
 'NameError',
 'None',
 'NotADirectoryError',
 'NotImplemented',
 'NotImplementedError',
 'OSError',
 'OverflowError',
 'PendingDeprecationWarning',
 'PermissionError',
 'ProcessLookupError',
 'RecursionError',
 'ReferenceError',
 'ResourceWarning',
 'RuntimeError',
 'RuntimeWarning',
 'StopAsyncIteration',
 'StopIteration',
 'SyntaxError',
 'SyntaxWarning',
 'SystemError',
 'SystemExit',
 'TabError',
 'TimeoutError',
 'True',
 'TypeError',
 'UnboundLocalError',
 'UnicodeDecodeError',
 'UnicodeEncodeError',
 'UnicodeError',
 'UnicodeTranslateError',
 'UnicodeWarning',
 'UserWarning',
 'ValueError',
 'Warning',
 'WindowsError',
 'ZeroDivisionError',
 '__IPYTHON__',
 '__build_class__',
 '__debug__',
 '__doc__',
 '__import__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'abs',
 'all',
 'any',
 'ascii',
 'bin',
 'bool',
 'breakpoint',
 'bytearray',
 'bytes',
 'callable',
 'chr',
 'classmethod',
 'compile',
 'complex',
 'copyright',
 'credits',
 'delattr',
 'dict',
 'dir',
 'display',
 'divmod',
 'enumerate',
 'eval',
 'exec',
 'execfile',
 'filter',
 'float',
 'format',
 'frozenset',
 'get_ipython',
 'getattr',
 'globals',
 'hasattr',
 'hash',
 'help',
 'hex',
 'id',
 'input',
 'int',
 'isinstance',
 'issubclass',
 'iter',
 'len',
 'license',
 'list',
 'locals',
 'map',
 'max',
 'memoryview',
 'min',
 'next',
 'object',
 'oct',
 'open',
 'ord',
 'pow',
 'print',
 'property',
 'range',
 'repr',
 'reversed',
 'round',
 'runfile',
 'set',
 'setattr',
 'slice',
 'sorted',
 'staticmethod',
 'str',
 'sum',
 'super',
 'tuple',
 'type',
 'vars',
 'zip']

In [95]:
import statistics as stat

stat.mean(dataset), stat.median(dataset)

(42, 30.5)

In [96]:
from statistics import variance, stdev

variance(dataset), stdev(dataset)

(1228.4444444444443, 35.04917180825311)

In [129]:
import numpy as np

np.sqrt(np.var(dataset))

33.250563904992646

In [106]:
import pandas as pd

In [107]:
a = ['a', 'b', 'c']
b = [1, 2, 3]
zip(a, b)

In [109]:
dict(list(zip(a, b)))

{'a': 1, 'b': 2, 'c': 3}

In [110]:
a = ['a', 'b', 'c']
b = [[1, 1], [2, 2], [3, 3]]
dict(list(zip(a, b)))

{'a': [1, 1], 'b': [2, 2], 'c': [3, 3]}

In [111]:
def func1() :
    print('func1')

In [112]:
func1()

func1

In [114]:
def func1(n) :
    print(n)

func1(5)

5

In [115]:
def func1(x, y) :
    z = x + y
    print(z)

func1(5, 10)

15

In [117]:
def refFunc(x) :
    pass

In [118]:
l = [1, 2, 3]
refFunc(l)

In [119]:
def refFunc(x) :
    x[0] = 100

refFunc(l)
l[0]

100

In [120]:
l = [1, 2, 3]
refFunc(l[:])
l[0]

1

In [121]:
def calc(x, y) :
    add = x + y
    sub = x - y
    mul = x * y
    div = x / y
    return add, sub, mul, div # 튜플

In [122]:
calc(10, 5) # 튜플

(15, 5, 50, 2.0)

In [124]:
rs = calc(10, 5)
add, sub, mul, div = calc(10, 5)

print(rs)
print(add, sub, mul, div)

(15, 5, 50, 2.0)
15 5 50 2.0

In [126]:
rs[0], add

(15, 15)

## 산포도

In [151]:
import statistics as stat
x = [2, 4, 5, 6, 1, 8]
avg = stat.mean(x)
[i - avg for i in x] # 편차

[-2.333333333333333,
 -0.33333333333333304,
 0.666666666666667,
 1.666666666666667,
 -3.333333333333333,
 3.666666666666667]

In [152]:
diff = [(i - avg)**2 for i in x]
sum(diff)

33.33333333333333

In [153]:
var = sum(diff) / (len(x) - 1)
var

6.666666666666666

In [154]:
import math

std = math.sqrt(var)
avg, std

(4.333333333333333, 2.581988897471611)

In [155]:
from statistics import mean, variance
from math import sqrt, pow

def Avg(data) :
    avg = mean(data)
    return avg

def var_sd(data) :
    avg = Avg(data)
    diff = [pow(d - avg, 2) for d in data]
    var = sum(diff) / (len(data) - 1)
    std = sqrt(var)
    return var, std

dataset = [2, 4, 5, 6, 1, 8]
var, sd = var_sd(dataset)
round(var, 2), round(sd, 2)

(6.67, 2.58)

## 피타고라스 정리 함수

In [159]:
def pytha(s, t) :
    a = s ** 2 - t ** 2
    b = 2 * s * t
    c = s ** 2 + t ** 2
    print('피타고라스 정리 3변:', a, b, c)

pytha(3, 1)

피타고라스 정리 3변: 8 6 10