In [8]:
person = {'name':'홍길동', 'pay':350, 'age':45}
person['age']

45

In [11]:
person['email'] = b'hong@email.com'
person

{'name': '홍길동', 'pay': 350, 'age': 45, 'email': b'hong@email.com'}

In [13]:
if 'age' in person :
    print(person['age'])

45

In [14]:
person.keys()

dict_keys(['name', 'pay', 'age', 'email'])

In [16]:
for key in person.keys() :
    print(key, person[key])

name 홍길동
pay 350
age 45
email b'hong@email.com'

In [17]:
for v in person.values() :
    print(v)

홍길동
350
45
b'hong@email.com'

In [18]:
for item in person.items() :
    print(item)

('name', '홍길동')
('pay', 350)
('age', 45)
('email', b'hong@email.com')

In [20]:
for k, v in person.items() :
    print(k, v)

name 홍길동
pay 350
age 45
email b'hong@email.com'

In [22]:
person['name'], person.get('name')

('홍길동', '홍길동')

In [24]:
print(person.get('n'))

None

In [25]:
person.clear()
person

{}

In [26]:
movie = {
    '광해':[9.24, 1200],
    '공작':[7.86, 500],
    '관상':[8.01, 900],
}
movie

{'광해': [9.24, 1200], '공작': [7.86, 500], '관상': [8.01, 900]}

In [28]:
for item in movie.items() :
    print(item[1])

[9.24, 1200]
[7.86, 500]
[8.01, 900]

In [30]:
for k, v in movie.items() :
    print(v)

[9.24, 1200]
[7.86, 500]
[8.01, 900]

###  문) 평점 8 이상인 영화 제목과 누적관객수 출력하기

In [33]:
tot = 0
title = []
for k, v in movie.items() :
    if v[0] >= 8 :
        tot += v[1]
        title.append(k)
title, tot

(['광해', '관상'], 2100)

### 단어 수 세기

In [41]:
charset = ['abc', 'code', 'band', 'band', 'abc', 'band']
words = {}

char = list(set(charset))
for i in range(len(char)) :
    words[char[i]] = charset.count(char[i])
words

{'code': 1, 'band': 3, 'abc': 2}

In [42]:
charset = ['abc', 'code', 'band', 'band', 'abc', 'band']
words = {}

for w in charset :
    if w in words :
        words[w] += 1
    else :
        words[w] = 1
words

{'abc': 2, 'code': 1, 'band': 3}

In [46]:
charset = ['abc', 'code', 'band', 'band', 'abc', 'band']
words = {}

for w in charset :
    words[w] = words.get(w, 0) + 1
words

{'abc': 2, 'code': 1, 'band': 3}

### 글자 수 세기

In [40]:
charset = ['abc', 'code', 'band', 'band', 'abc', 'band']
char = ''.join(charset)
a = {}

c = list(set(char))
for i in range(len(c)) :
    a[c[i]] = char.count(c[i])
a

{'c': 3, 'n': 3, 'a': 5, 'e': 1, 'o': 1, 'b': 5, 'd': 4}

In [47]:
charset = ['abc', 'code', 'band', 'band', 'abc', 'band']
a = {}

for w in ''.join(charset) :
    a[w] = a.get(w, 0) + 1
a

{'a': 5, 'b': 5, 'c': 3, 'o': 1, 'd': 4, 'e': 1, 'n': 3}